@using System.Security.Principal

@model WebApplication.Models.ClaimsModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@if (User.Identity.IsAuthenticated)
{
    <div>
        <ul style="list-style-type:none">
            <li>
                <a asp-controller="Home" asp-action="GetClaims">Get claims</a>
            </li>
            @if(null != Model)
            {
                <li>
                    @Html.DisplayFor(model => model.Claims);
                </li>        
            }
        </ul>
    </div>
}
