@model aspnetcore_mvc_oauth2_code_grant.Models.UserModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@if (User.Identity.IsAuthenticated)
{
<div class="text-left">
    <h2>Welcome @User.Identity.Name</h2>
    <p>@Html.DisplayFor(model => model.Name)</p>
</div>
}